@media (min-width: 640px) {
    .text-base {
        width: 20em;
    }
}

@media (max-width: 490px) {
    .text-base {
        width: 6em;
    }
}

@media (min-width: 900px) {
    .text-base {
        width: 30em;
    }
}

@media (min-width: 1024px) {
    .text-base {
        width: 40em;
    }
}

/* Hide horizontal scrollbar for WebKit-based browsers */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    width: 0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.bg-gradient-to-b {
    height: 500px;
}

.bg-cover {
    background-image: url('images/signup-image.jpg')
}